// Black & White
$color-white: hsl(0, 0, 95%);
$color-grey: hsl(45, 2%, 55%);
$color-black: hsl(0, 0, 15%);

// Primary:
$color-bg-light: #eae7dc;
$color-bg-dark: #d8c3a5;
$color-pri-light: #e98074;
$color-pri-dark: #e85a4f;
$color-sec-light: #81a2c6;
$color-sec-dark: #254568;
