// Black & White
$color-white: #f2f2f2;
$color-grey: #8f8d8a;
$color-black: #262626;

// Primary:
$color-bg-light: #eae7dc;
$color-bg-dark: #d8c3a5;
$color-pri-light: #81a2c6;
$color-pri-dark: #254568;
$color-sec-light: #e98074;
$color-sec-dark: #e85a4f;
