$font-xs: 8px;
$font-s: 16px;
$font-m: 24px;
$font-l: 32px;
$font-xl: 40px;
$font-xxl: 48px;

h1 {
  font-size: $font-xxl;
}
h2 {
  font-size: $font-xl;
}
h3 {
  font-size: $font-l;
}
h4 {
  font-size: $font-m;
}
h5 {
  font-size: $font-xs;
}
h6 {
  font-size: $font-xs;
}
p,
li {
  font-size: $font-m;
  line-height: 1.5;
}

p {
  text-align: justify;
}

// For MD generated checkboxes
li > input[type="checkbox"] {
  transform: scale(2);
  margin: 0 0.5em;
}

code {
  font-size: $font-m;
}

@media (max-width: $break-point) {
  h1 {
    font-size: $font-xl;
  }
  h2 {
    font-size: $font-l;
  }
  h3 {
    font-size: $font-m;
  }
  h4 {
    font-size: $font-s;
  }
  h5 {
    font-size: $font-xs;
  }
  h6 {
    font-size: $font-xs;
  }
  p,
  li {
    font-size: $font-m;
    line-height: 1.5;
  }

  p {
    text-align: left;
  }

  // For MD generated checkboxes
  li > input[type="checkbox"] {
    transform: scale(2);
    margin: 0 0.5em;
  }

  code {
    font-size: $font-s;
  }
}

@mixin text-pri {
  color: $color-black;
  font-family: "roboto";
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

@mixin text-sec {
  color: $color-black;
  font-family: "roboto";
  font-size: $font-l;
  font-weight: 500;
  margin: 0;
  @media (max-width: $break-point) {
    font-size: $font-m;
  }
}

@mixin text-reg {
  color: $color-black;
  font-family: "roboto";
  font-size: $font-m;
  font-weight: 500;
  margin: 0;
}

@mixin text-module-title {
  color: $color-black;
  font-family: "roboto";
  font-size: $font-xxl;
  font-weight: 700;
  margin: 0;
}

@mixin text-data-stamp {
  color: $color-grey;
  font-family: "roboto";
  font-size: $font-m;
  font-weight: 300;
  font-style: italic;
  line-height: 1;
  margin: 0;

  @media (max-width: $break-point) {
    font-size: $font-s;
  }
}
