.navbar {
  background-color: $color-pri-light;
}

.navbar__links-container {
  display: flex;
  justify-content: center;
}

.navbar__link {
  padding: $mrg-3;
  text-decoration: none;
  @include text-sec;
}

.navbar__link:hover {
  background-color: $color-pri-dark;
}

.navbar__link.active {
  color: $color-white;
}
