.lectures__lecture__video {
  @media (max-aspect-ratio: 16 / 11) {
    background-color: blue;
    width: 100vw;
    height: calc(100vw / (16 / 9));
  }

  @media (min-aspect-ratio: 16 / 12) {
    width: calc(80vh * (16 / 9));
    height: 80vh;
    margin: auto;
  }
}

.lectures__lecture__info {
  @media (max-width: $break-point) {
    padding: $mrg-3;
  }
}

.lectures__lecture__title {
  @include text-pri;
  margin: $mrg-3 0;
}
.lectures__lecture__description {
  @include text-reg;
  margin: $mrg-3 0;
}
.lectures__lecture__publication-date {
  @include text-data-stamp;
}
