// External
@import "../../node_modules/normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");

// Settings
@import "./settings/colors";
@import "./settings/margins";
@import "./settings/texts";

// Layout
@import "./layout/header-container";
@import "./layout/content-container";

// Components
@import "./components/navbar";
@import "./components/links";
@import "./components/titles";

// Modules
@import "./modules/articles.scss";

// Animations
@import "./animations/articleLoader";
@import "./animations/fadeIn";

// Base
* {
  box-sizing: border-box;
}

body {
  background-color: $color-bg-light;
  display: block;
  font-family: "Roboto", "Montserrat", sans-serif;
  overflow-x: hidden;
  width: 100vw;
}
